<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
                class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Gateways</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="'Search gateways'">
            </mat-form-field>
            <!-- Add product button -->
            <a
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="['/gateway/add']">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </a>
        </div>
    </div>
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(filteredGateways$ | async) as gateways">
                <ng-container *ngIf="gateways.length > 0; else noGateways">
                    <div class="grid">
                        <div
                                class="gateways-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            <div></div>
                            <div
                                    class="hidden md:block">
                                Serial Number
                            </div>
                            <div>Name</div>
                            <div
                                    class="hidden sm:block">
                                ipV4
                            </div>
                            <div class="hidden sm:block">Details</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(filteredGateways$ | async) as gateways">
                            <ng-container *ngFor="let gateway of gateways; trackBy: trackByFn">
                                <div class="gateways-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- Image -->
                                    <div class="flex items-center">
                                        <div class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border">
                                            <img
                                                    class="w-8"
                                                    *ngIf="gateway?.thumbnail"
                                                    [alt]="'Gateway thumbnail image'"
                                                    [src]="gateway.thumbnail">
                                            <div
                                                    class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                                                    *ngIf="!gateway?.thumbnail">
                                                NO THUMB
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden md:block truncate">
                                        {{gateway.serialNumber}}
                                    </div>

                                    <div class="truncate">
                                        {{gateway.name}}
                                    </div>
                                    <div class="hidden sm:block">
                                        {{gateway.ipV4 }}
                                    </div>
                                    <div>
                                        <button
                                                class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                                mat-stroked-button
                                                (click)="toggleDetails(gateway?.id)">
                                            <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="selectedGateway?.id === gateway.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                        <a
                                                mat-stroked-button
                                                class="ml-1 min-w-10 min-h-7 h-7 px-2 leading-6"
                                                [routerLink]="['/gateway/edit', gateway.id]">
                                            <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                        </a>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedGateway?.id === gateway.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: gateway}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>

            <ng-template
                #rowDetailsTemplate
                let-gateway>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <div
                                class="flex flex-col w-full">
                            <div class="flex flex-col sm:flex-row p-8">
                                <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                                    <div class="flex flex-col items-center">
                                        <div class="w-32 h-44 border rounded overflow-hidden">
                                            <ng-container *ngIf="gateway?.thumbnail; else noImage">
                                                <img
                                                        class="w-full h-full object-cover"
                                                        [src]="gateway.thumbnail">
                                            </ng-container>
                                            <ng-template #noImage>
                                                <span class="flex items-center min-h-20 text-lg font-semibold">NO IMAGE</span>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-auto flex-wrap">
                                    <!-- Name, SKU & etc. -->
                                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                        <div class="w-full">
                                            <strong>Name</strong>
                                            <br>
                                            <span>
                                                {{ selectedGateway.name }}
                                            </span>
                                        </div>
                                        <br>
                                        <div class="w-full">
                                            <strong>IP v4</strong>
                                            <br>
                                            <span>
                                                {{ selectedGateway.ipV4 }}
                                            </span>
                                        </div>
                                        <br>
                                        <div class="w-full">
                                            <strong>Serial Number</strong>
                                            <br>
                                            <span>
                                                {{ selectedGateway.serialNumber }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                        <strong>Peripheral Size</strong>
                                        <span>{{ size }}</span>
                                        <br>
                                        <div class="w-full">
                                            <a [routerLink]="['/gateway', selectedGateway.id]">See more...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template #noGateways>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no gateways!</div>
            </ng-template>
        </div>
    </div>
</div>
